@import "../../styles/variables.scss";

*{
  font-family: $font;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $white;
}

body{
  font-size: 16px;
  background-color: $darkBlue;

  @media screen and (max-width: #{$screen-xs}px){
    font-size: 14px;
  }
}

.container{
  width: 80vw;
  margin-left: 10vw;
}

@keyframes spin {
  from{
    transfrom: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

.main{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.header{
  padding: 30px 0;
  margin-bottom: 40px;
}

.footer{
  padding: 50px 0;
  text-align: center;

  .tagline{
    font: 10px Arial;
    color: $lightBlue;
    margin-bottom: 10px;
    display: block;
  }

  .signature{
    font: 12px Arial;
    color: $lightBlue;
    display: table;
    margin: 0 auto;
    transform: rotate(90deg)
  }
}

.content{
  .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.contentRight{
  width: calc(60% - 50px);
  margin-right: 100px;

  @media screen and (max-width: $screen-md){
    width: 100%;
    margin-right: 0;
  }
}

.contentTitle{
  font-size: 2.5em;
  color: $lightBlue;
  margin: 0 0 30px;
}

.contentText{
  line-height: 1.5;
  margin-bottom: 30px;
}

.illustration{
  width: calc(40% - 50px);

  @media screen and (max-width: 960px){
    display: none;
  }

  img{
    max-width: 100%;
    height: auto;
  }
}

.form{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  &:after{
    content: '';
    display: table;
    clear: both;
  }

  .title{
    color: $lightBlue;
    margin: 0 0 20px;
    width: 100%;
  }

  .fields{
    display: flex;
    margin-bottom: 20px;
    width: 100%;


    > *{
      width: calc(60% - 15px);

      &:first-child{
        width: calc(40% - 15px);
        margin-right: 30px;
      }
    }
  }
}




