*{
  font-family: $font;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $white;
}

body{
  font-size: 16px;
  background-color: $darkBlue;

  @media screen and (max-width: #{$screen-xs}px){
    font-size: 14px;
  }
}

.container{
  width: 80vw;
  margin-left: 10vw;
}

@keyframes spin {
  from{
    transfrom: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

.main{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.content{
  display: grid;
  grid-template-columns: $margin-horizontal 7fr 5fr $margin-horizontal;

  @media screen and (min-width: #{$screen-lg}px){
    grid-template-columns: $margin-horizontal-lg 7fr 5fr $margin-horizontal-lg;
  }

  @media screen and (max-width: #{$screen-sm}px){
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }
}

.subscribe-content{
  grid-column-start: 2;
  grid-column-end: 3;
  padding-right: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-right: solid 1px rgba($white, .3);

  @media screen and (min-width: $screen-lg){
    padding-right: 100px;
  }

  @media screen and (max-width: #{$screen-sm}px){
    grid-column-start: 2;
    grid-column-end: 3;
    border-right: 0;
    padding-right: 0;
  }
}

.subscribe-title{
  @include title;
}

.content-text{
  @include paragraph;
  line-height: 1.5;
  margin-bottom: 30px;

  strong{
    color: $lightBlue;
  }
}

.subscribe-form{
  padding: 60px 0 60px 60px;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  @media screen and (max-width: #{$screen-sm}px){
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 0;
    padding-bottom: 30px;
  }

  &:after{
    content: '';
    display: table;
    clear: both;
  }

  .title{
    color: $lightBlue;
    margin: 0 0 20px;
    width: 100%;
    font: $bold 1.2em $display;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .fields{
    width: 100%;
  }

  .inputWrapper{
    margin-bottom: 10px;
    width: 100%;
  }
}

.subscribe-illustration{
  width: 100%;
  margin-bottom: 30px;
  text-align: center;

  img{
    max-width: 350px;
    height: auto;

    @media screen and (max-width: #{$screen-sm}px){
      max-width: 100%;
    }
  }
}

.form-text{
  margin-bottom: 30px;

  a{
    color: $purple;
  }
}

.cleanArchitecture{
  display: grid;
  grid-template-columns: $margin-horizontal 3fr 2fr $margin-horizontal;
  border-top: solid 1px rgba($white, .3);
  border-bottom: solid 1px rgba($white, .3);
  padding: 60px 0;

  @media screen and (min-width: #{$screen-lg}px){
    grid-template-columns: $margin-horizontal-lg 1fr 1fr $margin-horizontal-lg;
  }

  @media screen and (max-width: #{$screen-sm}px){
    grid-template-columns: $margin-horizontal 1fr $margin-horizontal;
  }
}

.cleanArchitecture-image{
  grid-column-start: 3;
  grid-column-end: 4;
  margin-bottom: 50px;
  text-align: center;

  @media screen and (min-width: #{$screen-lg}px){
    padding-right: 100px;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 0;
  }

  @media screen and (max-width: #{$screen-sm}px){
    grid-column-start: 2;
    grid-column-end: 3;
  }

  img{
    width: 100%;
    height: auto;
  }
}

.cleanArchitecture-content{
  @include paragraph;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column-start: 3;
  grid-column-end: 4;

  @media screen and (min-width: #{$screen-lg}px){
    grid-column-start: 3;
    grid-column-end: 4;
  }

  @media screen and (max-width: #{$screen-sm}px){
    grid-column-start: 2;
    grid-column-end: 3;
  }

  strong{
    color: $lightBlue;
  }
}

.cleanArchitecure-title{
  @include title;
}

.subscribe-secondaryForm{
  padding: 60px 0;
  border-bottom: solid 1px rgba($white, .3);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title{
    color: $lightBlue;
    margin: 0 0 20px;
    width: 100%;
    font: $bold 1.2em $display;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .fields{
    max-width: 800px;
    margin: 0 100px 20px;
    display: flex;
    justify-content: center;

    .inputWrapper:nth-child(odd){
      margin-right: 30px;
    }

    @media screen and (max-width: #{$screen-sm}px){
      width: 100%;
      flex-direction: column;
      padding: 0 30px;
      margin-bottom: 0;

      .inputWrapper{
        margin-bottom: 20px;
      }

      .inputWrapper:nth-child(odd){
        margin-right: 0;
      }
    }
  }
}

.teamList{
  display: flex;
  flex-wrap: wrap;
}

.team-member{
  padding: 60px;
  list-style: none;

  &.featured{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: grid;
    grid-template-columns: $margin-horizontal 3fr 50px 9fr $margin-horizontal;
    border-bottom: solid 1px rgba($white, .3);

    @media screen and (min-width: #{$screen-lg}px){
      grid-template-columns: $margin-horizontal-lg 3fr 50px 9fr $margin-horizontal-lg;
    }

    @media screen and (max-width: #{$screen-sm}px){
      display: flex;
      flex-direction: column;
      padding: 30px;
    }

    .team-memberImage{
      grid-column-start: 2;
      grid-column-end: 3;
      margin-bottom: 0;

      @media screen and (max-width: #{$screen-sm}px){
        margin-bottom: 30px;
      }
    }

    .team-memberAbout{
      grid-column-start: 4;
      grid-column-end: 5;
    }
  }
}

.team-member{
  width: 50%;

  &:nth-child(2){
    border-right: solid 1px rgba($white, .3);
    @media screen and (max-width: #{$screen-sm}px){
      border-right: 0;
    }
  }

  @media screen and (max-width: #{$screen-sm}px){
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 30px;
    border: 0;
    border-bottom: solid 1px rgba($white, .3);
  }
}

.team-memberImage{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;

  img{
    width: 240px;
    height: 240px;
    border-radius: 50%;

    @media screen and (max-width: #{$screen-sm}px){
      width: 160px;
      height: 160px;
    }
  }

  &:after{
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, $pink, $lightBlue);
    position: absolute;
    mix-blend-mode: hard-light;

    @media screen and (max-width: #{$screen-sm}px){
      width: 160px;
      height: 160px;
    }
  }

}

.team-memberBio{
  @include paragraph;

  a{
    color: $purple;
    text-decoration: none;
  }
}

.team-memberName{
  margin-bottom: 30px;
  flex: 1;
  margin-right: 30px;
}

.team-memberTop{
  display: flex;
}

.team-memberSocial{
  a{
    @include imgreplace;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 30px;

    &:first-child{
      margin-left: 0;
    }
  }
}
