*{
  font-family: $font;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $white;
}

body{
  font-size: 16px;
  background-color: $darkBlue;

  @media screen and (max-width: #{$screen-xs}px){
    font-size: 14px;
  }
}

.container{
  width: 80vw;
  margin-left: 10vw;
}

@keyframes spin {
  from{
    transfrom: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

.main{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.content{
  display: grid;
  grid-template-columns: 100px 7fr 5fr 100px;
}

.subscribe-content{
  grid-column-start: 2;
  grid-column-end: 3;
  padding-right: 100px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-right: solid 1px rgba($white, .3);

  @media screen and (max-width: $screen-md){
    width: 100%;
    margin-right: 0;
  }
}

.subscribe-title{
  @include title;
}

.content-text{
  @include paragraph;
  line-height: 1.5;
  margin-bottom: 30px;
}

.subscribe-form{
  padding: 60px;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  &:after{
    content: '';
    display: table;
    clear: both;
  }

  .title{
    color: $lightBlue;
    margin: 0 0 20px;
    width: 100%;
    font: $bold 1.2em $display;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .fields{
    width: 100%;
  }

  .inputWrapper{
    margin-bottom: 10px;
    width: 100%;
  }
}

.form-text{
  margin-bottom: 30px;

  a{
    color: $purple;
  }
}

.cleanArchitecture{
  display: grid;
  grid-template-columns: 100px 1fr 1fr 100px;
  border-top: solid 1px rgba($white, .3);
  border-bottom: solid 1px rgba($white, .3);
  padding: 60px 0;
}

.cleanArchitecture-image{
  grid-column-start: 2;
  grid-column-end: 3;
  padding-right: 100px;

  img{
    width: 100%;
    height: auto;
  }
}

.cleanArchitecture-content{
  @include paragraph;
  display: flex;
  flex-direction: column;
  justify-content: center;

  strong{
    color: $lightBlue;
  }
}

.cleanArchitecure-title{
  @include title;
}

.teamList{
  display: flex;
  flex-wrap: wrap;
}

.team-member{
  padding: 60px;
  list-style: none;

  &.featured{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: grid;
    grid-template-columns: 100px 3fr 50px 9fr 100px;
    border-bottom: solid 1px rgba($white, .3);

    .team-memberImage{
      grid-column-start: 2;
      grid-column-end: 3;
      margin-bottom: 0;
    }

    .team-memberAbout{
      grid-column-start: 4;
      grid-column-end: 5;
    }
  }
}

.team-member{
  width: 50%;

  &:nth-child(2){
    border-right: solid 1px rgba($white, .3);
  }
}

.team-memberImage{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;

  img{
    width: 240px;
    height: 240px;
    border-radius: 50%;
  }

  &:after{
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, $pink, $lightBlue);
    position: absolute;
    mix-blend-mode: hard-light;
  }

}

.team-memberBio{
  @include paragraph;

  a{
    color: $purple;
    text-decoration: none;
  }
}

.team-memberName{
  margin-bottom: 30px;
  flex: 1;
  margin-right: 30px;
}

.team-memberTop{
  display: flex;
}

.team-memberSocial{
  a{
    @include imgreplace;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 30px;

    &:first-child{
      margin-left: 0;
    }
  }
}
