// Colors
$darkBlue: #1A1F33;
$lightBlue: #2FD7E7;
$white: #EDEEF1;
$green: #85E89D;
$pink: #F97583;
$purple: #BD93F9;
$yellow: #FFAB57;

// Font
$display: 'Fira Sans', sans-serif;
$font: 'Fira Code', sans-serif;
$bold: 900;

// Breakpoints
$screen-lg: 1260;
$screen-md: 960px;
$screen-sm: 768;
$screen-xs: 480;
