// Colors
$darkBlue: #1A1F33;
$lightBlue: #2FD7E7;
$white: #EDEEF1;

// Font
$font: 'Fira Sans', sans-serif;
$bold: 900;

// Breakpoints
$screen-lg: 1260;
$screen-md: 960px;
$screen-sm: 768;
$screen-xs: 480;
